.paginator
{
    list-style : none;
    text-align : center;
    padding: 0;
}
.paginator li
{
    display : inline-block;
}
.paginator a
{
    display         : block;
    padding         : 10px 15px;
    border          : solid 1px #ccc;
    border-right    : none;
    text-decoration : none;
    color           : #ff5722;
}
.paginator li:last-child a
{
    border-right  : solid 1px #ccc;
    border-radius : 0 5px 5px 0;
}
.paginator li:first-child a
{
    border-radius : 5px 0 0 5px;
}
.paginator a.active
{
    background-color : #ff5722;
    color            : #fff;
    cursor           : default;
    border-color     : #ff5722;
}
.paginator a:hover
{
    background-color : #efefef;
}
.paginator a.active:hover
{
    background-color : #ff5722;
}
